* {
    cursor: default;
}
body {
    padding: 20px;
}
.voltar-menu-ancor {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}
.voltar-menu-btn, .limpar-filtros-btn {
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
    background-color: #f5c34e;
    margin: 10px 0;
    cursor: pointer;
    transition: 
        color 0.2s,
        background-color 0.2s
    ;
}
.voltar-menu-btn:hover, .limpar-filtros-btn:hover {
    color: #f5c34e;
    background-color: black;
}
table {
    border-collapse: collapse;
}
thead th{
    position: sticky;
    top: 0;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
}
thead th {
    border: 1px solid black;
}
td, th {
    padding: 5px;
    border: 1px solid black;
}
img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.td-img {
    padding: 0;
    margin: 0;
}
input {
    width: 100%;
    box-sizing: border-box;
}
.esconder {
    display: none;
}
.td-links-externos a{
    display: block;
}
thead th{
    position: sticky;
    top: 0;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
}
/* Estilo inicial para ocultar os botões */
.botao-copiar {
    display: none;
    cursor: pointer;
}
.fa-copy {
    cursor: pointer;
    font-size: 1.3rem;
    opacity: 0.3;
}
.mostrar-botao-copiar {
    display: inline-block;
}
tbody p {
    display: inline-block;
}
a {
    cursor: pointer;
}